doctype html
html(lang='tr')
	include _inc/mixin.pug
	
	body

		include _inc/header.pug

		main
			section
				.container
					h1.mt-5 Yeni Proje
						sub
							small.text-secondary v1.1-less/gulp-3.9.1
									code.ml-3
										a.text-reset(href='github.com/ensaracar' target='_blank') github.com/ensaracar

		include _inc/footer.pug
	